<%- include('./partials/head') %>
<div class="content">
  <div class="card">
    <div class="info">
      <img src="./images/foto.jpeg">

    <div class="info-text">
      <h1>Danique Rijsdijk
        <!-- <%= data.name %><%= data.surname %> -->
      </h1>
      <h2>Digital designer</h2>
      <p>
        <!-- <%= data.bio%>  -->
        Graphic design, social media, marketing and frontend design/development.
    </div>
    </div>
  </div>
  <div class="icons">
            <a href="https://github.com/xxdaniquee" target="_blank"><i class="devicon-github-original"></i></a>
            <a href="https://www.linkedin.com/in/danique-r-b2568bb1" target="_blank" ><i class="devicon-linkedin-plain"></i></a>
            <a><i class="devicon-apple-original"></i></a>
  </div>
</div>
</div>

<%- include('./partials/foot') %>
